.box {
    display: inline;
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 60px;
}

.row {
    justify-content: center;
}